<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
{% load static %}
<div>
  <p>
    Тут я размещу информацию <s>о себе</s> используя свои <b>скромные</b> умения верстать.</br>
    Это мой друг и его зовут <i>Пингвин</i> &dArr;
    - он меня вдохновляет и подбадривает во время творческого кризиса &#9749;</br></br>
    <img src="/static/img/penguin.jpg" alt="Friend Penguin" width="300" height="500"></br></p>
  <h3>Изучаю Дзен Python.</h3></br>

</div>
<div>
  Вместо того, чтобы писать о себе -
  лучше размещу этот самый <h3>Дзен Python:</h3></br>
    <i>Красивое лучше, чем уродливое.</br>
    Явное лучше, чем неявное.</br>
    Простое лучше, чем сложное.</br>
    Сложное лучше, чем запутанное.</br>
    Плоское лучше, чем вложенное.</br>
    Разреженное лучше, чем плотное.</br>
    Читаемость имеет значение.</br>
    Особые случаи не настолько особые, чтобы нарушать правила.</br>
    При этом практичность важнее безупречности.</br>
    Ошибки никогда не должны замалчиваться.</br>
    Если они не замалчиваются явно.</br>
    Встретив двусмысленность, отбрось искушение угадать.</br>
    Должен существовать один и, желательно, только один очевидный способ сделать это.</br>
    Хотя он поначалу может быть и не очевиден, если вы не голландец.</br>
    Сейчас лучше, чем никогда.</br>
    Хотя никогда зачастую лучше, чем прямо сейчас.</br>
    Если реализацию сложно объяснить — идея плоха.</br>
    Если реализацию легко объяснить — идея, возможно, хороша.</br>
      Пространства имён — отличная штука! Будем делать их больше!</i></br>
  </p>
</div>
{% endblock %}